@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit";
    background-color: hsl(30, 54%, 90%);
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 700px;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 12px;
}

img{
    border-radius: 20px;
}

h1{
    padding: 30px;
    font-family: "Young Serif", serif;
    opacity: 75%;
}
